* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 500px;
  height: 100vh;
  overflow-y: hidden;
  font-family: 'Open Sans', sans-serif;
}

.wapper {
  width: 100%;
  height: 100vh;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.clearfix {
  content: '';
  display: table;
  clear: both;
}

/* UTILITY */
body a {
  text-decoration: none;
}

main {
  height: calc(100% - 90px);
  overflow: hidden;
}
.border_green {
  border-left: 3px solid lightgreen;
}

.menu_list {
  list-style: none;
  font-size: 13px;
  line-height: 35px;
}
/* Inizio Nav-vertical-left*/
.nav_vertical_left {
  float: left;
  width: 230px;
  height: 100%;
  font-weight: bold;
  background-color: black;
}

.nav_top {
  display: flex;
  flex-direction: column;
  height: calc(100% - 80px);
  overflow-y: hidden;
}

.nav_top .nav_logo_mobile {
  display: none;
  text-align: center;
  padding: 5px;
}
.nav_top .logo img {
  height: 50px;
  margin: 20px;
}
.nav_center {
  padding-left: 20px;
}
.nav_center li {
  padding: 5px 0;
}
.nav_center li img {
  height: 25px;
  margin-right: 5px;
  vertical-align: middle;
}
.nav_center span {
  font-size: 15px;
  font-weight: bold;
  color: white;
}

.playlist {
  padding: 20px;
  overflow: hidden;
}
.playlist h2 {
  font-size: 15px;
  color: white;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.playlist a {
  color: #5c6065;
}
.playlist .create_playlist {
  margin-bottom: 10px;
}
.playlist .playlist_plus {
  color: black;
  padding: 5px 7px;
  background-color: #5c6065;
}

.playlist .menu_list {
  height: 80%;
  overflow-y: auto;
}

.nav_bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 80px;
  padding: 0 20px;
}

.app_download {
  padding: 5px 0;
  border-bottom: 1px solid grey;
}
.app_download .download {
  color: #5c6065;
}
.app_download .img_download {
  width: 15px;
  height: 15px;
  vertical-align: middle;
}

.user .account {
  color: white;
}
.user .img_account {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #5c6065;
  vertical-align: middle;
}

.nav_bottom span {
  font-size: 15px;
}
/* Fine Nav-vertical-left */

/* Inizio NAV-MAIN */
.nav_main_right {
  float: right;
  width: calc(100% - 230px);
  height: 100%;
  overflow-y:scroll;
  background-color: #141922;
  text-align: center;
}
.nav_main_right a {
  text-decoration: none;
}
.nav_main_right li {
  list-style: none;
}

.nav_main_right .upgrade {
  z-index: 1;
  position: fixed;
  top: 0;
  right: 0;
  width: calc(100% - 230px);
  text-align: right;
  height: 60px;
  line-height: 60px;
  background-color: #080b12;
  opacity: 0.7;
}
.nav_main_right .upgrade a {
  color: white;
  font-size: 12px;
  line-height: 40px;
  padding: 10px 30px;
  border-radius: 20px;
  border: 1px solid white;
}

.nav_main_right .row_menu_verticale {
  margin-top: 60px;
  height: 100%;
  line-height: 40px;
}
.nav_main_right .row_menu_verticale li {
  display: inline;
  padding: 10px;
}
.nav_main_right .row_menu_verticale a {
  font-weight: bold;
  color: #5c6065;
}

.nav_main_right h1,
.nav_main_right h2 {
  font-size: 20px;
  font-weight: bold;
  color: white;
}
.nav_main_right p {
  font-weight: bold;
  color: #5c6065;
}

.nav_main_right [class^=box_song] {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10px;
}

.box {
  position: relative;
  height: 100%;
  width: 200px;
  margin-bottom: 20px;
  margin-right: 2%;
  cursor: pointer;
}
.nav_main_right .box img {
  width: 100%;
  height: 200px;
}
.nav_main_right .album_song_circle {
  border-radius: 50%;
}

.ms_layover {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  background-color: grey;
  opacity: 0;
}
.ms_layover.circle {
  border-radius: 50%;
}
.ms_layover i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 60px;
  color: white;
}
.ms_layover:hover {
  opacity: 0.6;
}
/* Fine  NAV-MAIN */

/* Inizio FOOTER */
footer {
  height: 90px;
  background-color: #282828;
}

.container_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

/* Inizio Footer_box_left */
.footer_box_left {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 230px;
  height: 100%;
  padding: 10px;
}

.info_brano_ascoltato {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer_box_left img {
  width: 50%;
  padding-left: 10px;
}
.brano_ascoltato {
  display: flex;
  flex-direction: column;
  margin: 5px;
}
.brano_ascoltato h1 {
  color: white;
  font-size: 12px;
  margin: 0;
}
.brano_ascoltato p {
  font-size: 10px;
  color: #5c6065;
}

.brano_preferito {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.brano_preferito i {
  font-size: 20px;
  margin: 0 5px;
  color: #5c6065;
}
/* Fine Footer_box_left */

/* Inizio Footer_box_center */
.footer_box_center {
  width: 40%;
  height: 100%;
}

.time_box_up {
  width: 100%;
  height: 60%;
}
.time_box_up ul {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.time_box_up i {
  color: white;
  margin: 0 10px;
  font-size: 20px;
}

.time_box_down {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.time_box_down p {
  color: white;
}

.time_box_down .start_song,
.time_box_down .finish_song  {
  width: 10%;
  margin: 0 10px;
  font-size: 15px;
  text-align: center;
}
.time_box_down .line_song {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
}
.time_box_down .line_song::before{
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  margin-top: 10px;
  border-radius: 5px;
  background-color: rgba(128, 128, 128, 0.349);
  cursor: pointer;
}

.time_box_down .line_song .line_time_song {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  display: block;
  width: 30%;
  height: 3px;
  margin-top: 10px;
  border-radius: 5px;
  background-color: grey;
  cursor: pointer;
}
.time_box_down .line_song .line_time_song .point_line_time_song{
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  content: "";
  display: none;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: white;
}

/* Fine footer_box_center */

/* Inizio footer_box_right */
.footer_box_right {
  width: 230px;
  height: 100px;
}

.footer_box_right ul {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.footer_box_right ul li {
  padding: 5px;
}
.footer_box_right a {
  color: white;
}

.footer_box_right .menu_list li {
  /* border: 1px solid white; */
}

.footer_box_right .line_song {
  position: relative;
  top: 45%;
  transform: translateY(-45%);
  border: 1px solid #282828;
}
.footer_box_right .line_song::before{
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  margin-top: 10px;
  border-radius: 5px;
  background-color: rgba(128, 128, 128, 0.349);
  cursor: pointer;
}
.footer_box_right .line_song .line_time_song {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  display: block;
  width: 30%;
  height: 3px;
  margin-top: 10px;
  border-radius: 5px;
  background-color: grey;
  cursor: pointer;
}
.footer_box_right .line_song .line_time_song .point_line_time_song {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  content: "";
  display: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: white;
}

/* Inizio footer_box_right */
/* Fine FOOTER */

/* Scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #90EE90; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #89ff89;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #23ff23; 
}

/* Hover */
.playlist a:hover,
.col-md-12 a:hover,
footer i:hover {
  color: #90EE90;
}

.upgrade a:hover {
  color: black;
  font-size: bolder;
  background-color: rgba(255, 255, 255, 0.618);
} 

.time_box_down .line_song .line_time_song:hover,
.footer_box_right .line_song .line_time_song:hover {
  background-color:greenyellow;
}

.time_box_down .line_song .line_time_song:hover .point_line_time_song,
.footer_box_right .line_song .line_time_song:hover .point_line_time_song {
  display: block;
}

/* MediaQuery */
@media only screen and (max-width: 1124px) {
  .box_song_first {
    justify-content: space-around;
  }
}

@media only screen and (max-width: 720px) {
  .time_box_up i {
    font-size: 15px;
  }
  .time_box_down .start_song, .time_box_down .finish_song {
    font-size: 11px;
  }

}